@import './reset.css'    

body
    background-image: url(../images/thunder.jpg)
    background-size: cover
    background-position: center
    height: 100vh
    &::before
        content: ""
        background-color: black
        width: 100vw
        height: 100vh
        position: absolute
        opacity: 60%

.wrapper
    display: flex
    flex-direction: column
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    gap: 1rem
    align-items: center
    height: min-content
    form
        display: flex
        gap: 1rem
        align-items: center
        flex-wrap: wrap
        input
            border: none
            padding: 1rem 1.5rem
            font-family: "Inter",sans-serif
            font-size: 1rem
            font-weight: 600 
            border-radius: 8px
            flex-grow: 1
            
        button
            background-color: #084efe
            border: none
            color: white
            padding: 1rem 1.5rem
            font-family: "Inter",sans-serif
            font-size: 1rem
            font-weight: 600
            border-radius: 8px
            transition: all 0.3s
            cursor: pointer
            flex-grow: 1
            &:hover
                background-color: #0038c7
            &:active
                color: #0038c7
                background-color: white
    .info
        box-sizing: border-box
        flex-grow: 1
        background-color: white
        display: flex
        flex-direction: column
        gap: 2vh
        padding: 1rem
        opacity: 0
        width: 100%
        transition: all 0.3s
        border-radius: 8px
        font-family: "Inter",sans-serif
        font-size: 1.5rem
        font-weight: 600 
        color: rgb(59, 59, 59)
        &:focus-visible
            outline: none   

    
.warn
    &::placeholder
        color: red